*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

header{
    color: white;
    text-align: center;
    top: 0px;
    z-index: 999;
}

.card{
    z-index: 1;
}

.card-container{
    margin-left: 30px;
    margin-top: 100px;
    height: 500px;
    align-content: center;
}

#container{  
    flex-wrap: wrap;
    align-items: center;
    height: 100px;
}

.card-photo:hover .card-hover{
    z-index: 2;
}

.card-photo > p{
    z-index: 5;
    border: solid;
}

.card-photo .sales{
    top: 450px;
    background-color: red;
    border-color: red;
    color: white;
    font-weight: 600;
    font-size: 13px;
}

.card-photo .sostenibility{
    top: 450px;
    left: 40px;
    background-color: green;
    border-color: green;
    color: white;
    font-weight: 600;
    font-size: 13px;

}

.card-photo .like{
    top: 20px;
    left: 318px;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 30px;
    border-color: white;
    background-color: white;
}

.like:hover{
    color: red;
}


.card-container .brand{
    top: 510px;
    font-size: 12px;
}

.card-container .model{
    top: 525px;
}

.card-container .price{
    top: 540px;
    font-size: 12px;
    color: red;
}

.card-container span{
    color: black;
    text-decoration: line-through;
}